# Byte-compiled / junk / system files
__pycache__/
*.py[cod]
.DS_Store

# Python virtual environments
env/
venv/
ENV/
.venv/
.ENV/

# IDE project files
.idea/
*.iml
.vscode/

# Pytest and coverage
.pytest_cache/
*.log
htmlcov/
.coverage

# Environment and secret files
.env
*.env

# Debug logs and output
examples/example_logs/
examples/nypl_tests/pytestdebug.log

# Tests to ignore
examples/nypl_tests/test_lca_imperva.py
examples/nypl_tests/test_speakout_districts.py
examples/nypl_tests/test_speakout_districts_2.py
#examples/nypl_tests/test_lca_2.py
#examples/nypl_pages/page_lca_2.py

# Binary / external downloads
chromedriver-mac-arm64.zip